USE [master]
GO
/****** Object:  Database [QLSV]    Script Date: 11/11/2021 11:37:22 PM ******/
CREATE DATABASE [QLSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLSV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLSV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV]
GO
/****** Object:  Table [dbo].[KetQua]    Script Date: 11/11/2021 11:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQua](
	[maKQ] [int] IDENTITY(1,1) NOT NULL,
	[maSV] [nvarchar](20) NULL,
	[maMon] [nvarchar](20) NULL,
	[diemGiuaKi] [float] NULL,
	[diemCuoiKi] [float] NULL,
	[diemTB] [float] NULL,
	[ketQua] [bit] NULL,
 CONSTRAINT [PK_KetQua] PRIMARY KEY CLUSTERED 
(
	[maKQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 11/11/2021 11:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[maKhoa] [nvarchar](10) NOT NULL,
	[tenKhoa] [nvarchar](50) NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[maKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 11/11/2021 11:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[userName] [nvarchar](50) NOT NULL,
	[passWord] [nvarchar](50) NULL,
	[Quyen] [nvarchar](50) NULL,
	[hoTen] [nvarchar](50) NULL,
	[gioiTinh] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Login_1] PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 11/11/2021 11:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[maLop] [nvarchar](10) NOT NULL,
	[tenLop] [nvarchar](50) NULL,
	[maKhoa] [nvarchar](10) NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[maLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mon]    Script Date: 11/11/2021 11:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mon](
	[maMon] [nvarchar](20) NOT NULL,
	[tenMon] [nvarchar](50) NULL,
	[maKhoa] [nvarchar](10) NULL,
	[soTinChi] [int] NULL,
	[hocKi] [nvarchar](10) NULL,
 CONSTRAINT [PK_Mon] PRIMARY KEY CLUSTERED 
(
	[maMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 11/11/2021 11:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[maSV] [nvarchar](20) NOT NULL,
	[ngaySinh] [date] NULL,
	[gioiTinh] [nvarchar](5) NULL,
	[diaChi] [nvarchar](50) NULL,
	[maLop] [nvarchar](10) NULL,
	[hoTen] [nvarchar](50) NULL,
 CONSTRAINT [PK_SinhVien_1] PRIMARY KEY CLUSTERED 
(
	[maSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KetQua] ON 

INSERT [dbo].[KetQua] ([maKQ], [maSV], [maMon], [diemGiuaKi], [diemCuoiKi], [diemTB], [ketQua]) VALUES (1, N'tess09', N'test34', 5, 5, 5, 1)
SET IDENTITY_INSERT [dbo].[KetQua] OFF
GO
INSERT [dbo].[Khoa] ([maKhoa], [tenKhoa]) VALUES (N'test', N'test2323')
INSERT [dbo].[Khoa] ([maKhoa], [tenKhoa]) VALUES (N'test12', N'test12')
GO
INSERT [dbo].[Login] ([userName], [passWord], [Quyen], [hoTen], [gioiTinh], [Phone], [Email]) VALUES (N'admin', N'123', N'Admin', N'abc', N'nam', N'12356', N'abc@gmail.com')
INSERT [dbo].[Login] ([userName], [passWord], [Quyen], [hoTen], [gioiTinh], [Phone], [Email]) VALUES (N'user', N'123', N'Member', N'jhg', N'nam', N'15425', N'yt@gmail.com')
GO
INSERT [dbo].[Lop] ([maLop], [tenLop], [maKhoa]) VALUES (N'tesst8', N'tesstjh', N'test12')
INSERT [dbo].[Lop] ([maLop], [tenLop], [maKhoa]) VALUES (N'testd', N'sad', N'test')
GO
INSERT [dbo].[Mon] ([maMon], [tenMon], [maKhoa], [soTinChi], [hocKi]) VALUES (N'test34', N'tesst23', N'test12', 1, N'2')
GO
INSERT [dbo].[SinhVien] ([maSV], [ngaySinh], [gioiTinh], [diaChi], [maLop], [hoTen]) VALUES (N'tess09', CAST(N'2021-11-11' AS Date), N'Nam', N'fhf', N'tesst8', N'uy')
INSERT [dbo].[SinhVien] ([maSV], [ngaySinh], [gioiTinh], [diaChi], [maLop], [hoTen]) VALUES (N'test6', CAST(N'2020-06-09' AS Date), N'Nam', N'test', N'testd', N'test4')
GO
ALTER TABLE [dbo].[KetQua]  WITH CHECK ADD  CONSTRAINT [FK_KetQua_Mon] FOREIGN KEY([maMon])
REFERENCES [dbo].[Mon] ([maMon])
GO
ALTER TABLE [dbo].[KetQua] CHECK CONSTRAINT [FK_KetQua_Mon]
GO
ALTER TABLE [dbo].[KetQua]  WITH CHECK ADD  CONSTRAINT [FK_KetQua_SinhVien] FOREIGN KEY([maSV])
REFERENCES [dbo].[SinhVien] ([maSV])
GO
ALTER TABLE [dbo].[KetQua] CHECK CONSTRAINT [FK_KetQua_SinhVien]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_Khoa] FOREIGN KEY([maKhoa])
REFERENCES [dbo].[Khoa] ([maKhoa])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_Khoa]
GO
ALTER TABLE [dbo].[Mon]  WITH CHECK ADD  CONSTRAINT [FK_Mon_Khoa] FOREIGN KEY([maKhoa])
REFERENCES [dbo].[Khoa] ([maKhoa])
GO
ALTER TABLE [dbo].[Mon] CHECK CONSTRAINT [FK_Mon_Khoa]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Lop] FOREIGN KEY([maLop])
REFERENCES [dbo].[Lop] ([maLop])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_Lop]
GO
USE [master]
GO
